body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: gray;
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
}
  
.maindiv {
  width: 500px;
  margin: auto;
  background: white;
  color: black;
  border-radius: 25px;
  padding: 20px;
}

form {
  margin-left: 17%;
}

label {
  display: inline-block;
  width: 120px;
}

#principal, #rate, #investyield, #year  {
margin-left: 17%;
}


